@import "./font.scss";
@import "./effect.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Causten";
}
section {
  max-width: 1385px;
  width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  width: 100%;
  min-height: 108px;
  & .container {
    max-width: 1237px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 5px;
    min-width: 485px;
    & li {
      max-width: 70px;
    }
  }
  &__link {
    color: #807d7e;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:hover {
      color: #3c4242;
      font-weight: 700;
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    &-btn {
      display: flex;
      padding: 12px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 8px;
      background: #f6f6f6;
      &:hover {
        outline: none;
        border-color: rgba(17, 0, 255, 0.1);
        background-color: #d5d5d5;
        box-shadow: 0 0 0 2px rgba(93, 65, 162, 0.1);
      }
    }
  }
  &__logo {
    color: #3c4242;
    font-family: "Core";
    font-size: 34.064px;
    font-weight: 800;
    line-height: normal;
  }
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  &__slider {
    max-height: 716px;
    position: relative;
    & .container {
      position: absolute;
      top: 180px;
      margin: 0 auto;
      width: 70%;
      left: 193px;
      display: grid;
      gap: 40px;
    }
  }
  &__slide {
    position: relative;
    &-title {
      color: #fff;
      font-family: "Core";
      font-size: 78px;
      font-style: normal;
      font-weight: 800;
      line-height: 93.622px; /* 120.028% */
      letter-spacing: 0.315px;
    }
    &-text:nth-of-type(1) {
      color: #fff;
      font-family: "Core";
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 37.771px;
      letter-spacing: 0.157px;
      text-transform: capitalize;
    }
    &-text:nth-of-type(2) {
      color: #fff;
      font-family: "Core";
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 47.214px; /* 147.544% */
      letter-spacing: 0.315px;
    }
    &-left {
      position: absolute;
      left: -129px;
      bottom: 204px;
    }
    &-right {
      position: absolute;
      right: -129px;
      bottom: 204px;
    }
  }
  &__sale {
    min-height: 486px;
    height: 100%;
    max-width: 1385px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    & .container {
      max-width: 1240px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      position: relative;
    }
    &-card {
      max-width: 604.934px;
      max-height: 355.844px;
      width: 100%;
      height: 100%;
    }
    &-img {
      position: relative;
    }
    &-text {
      position: absolute;
      top: 0;
      width: 60%;
      padding-left: 29px;
    }
    &-first {
      padding-top: 67px;
      padding-bottom: 24px;
      color: #fff;
      font-family: "Montserrat";
      font-size: 18px;
      font-weight: 800;
      line-height: 30.067px; /* 167.038% */
      letter-spacing: 0.251px;
    }
    &-title {
      padding-bottom: 10px;
      color: #fff;
      font-family: "Core";
      font-size: 34px;
      font-weight: 800;
      line-height: 45.1px;
    }
    &-second {
      padding: 0 0 30px 0;
      color: #fff;
      font-family: "Core";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 25.056px; /* 156.598% */
      letter-spacing: 0.251px;
    }
    &-link {
      color: #fff;
      font-family: "Core";
      font-size: 20px;
      font-weight: 800;
      line-height: 30.132px;
      text-decoration-line: underline;
    }
  }
  &__arrivals {
    padding: 100px 0 0 0;
    & .img {
      color: #3c4242;
      width: 13.586px;
      height: 12px;
      flex-shrink: 0;
    }
    & .container {
      max-width: 1167px;
      margin: 0 auto;
    }
    &-title {
      display: flex;
      gap: 20px;
      padding-bottom: 70px;
    }
    &-text {
      color: #3c4242;
      font-family: "Core";
      font-size: 34px;
      font-weight: 600;
      line-height: 33.5px;
      letter-spacing: 0.68px;
    }
    &-span {
      display: block;
      width: 6px;
      height: 30px;
      border-radius: 10px;
      background: #8a33fd;
    }
    &-cards {
      display: flex;
      justify-content: space-between;
    }
    &-card {
      gap: 33px;
      display: grid;
    }
  }
}
